.about {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(0deg, #1D9A6Cff, #99D492 100%);
}

.about-container {
    padding: 0 15px;
}

.about .hero-img img {
    width: 100%;
    height: auto;
}

.about-info {
    position: fixed;
    top: 7%;
    gap: 10px;
    font-weight: 600;
    border-radius: 6px;
    padding: 1px 22px;
    line-height: 2rem;
    color: #ffffff;
    background-color: #0000006e;
    margin: 10%;

}

.about .start-btn {
    position: absolute;
    bottom: 10vh;
    font-weight: 300;
    font-size: 2rem;
    border-radius: 6px;
    padding: 1px 22px;
    line-height: 3rem;
    color: #ffffff;
    background-color: #0000006e;
    margin-block-end: 20px;
}

.about .start-btn:hover {
    color: #131111;
    background-color: #fffe08e8;
}

@media (max-width: 550px) {
    .about .start-btn {
        font-size: 20px;
    }

    .about-info p {
        font-size: 12px;
    }
}