.game {
    margin: 0;
    height: 100vh;
    background-size: cover;
}

.game-container {
    color: white;
    text-align: center;
    padding: 0 15px;
    margin: 0;
}

.wallet {
    position: relative;
    margin: 10px;
}

.game-container h1 {
    margin: 15px;
}

.game-container h2 {
    margin: 10px;
    border-radius: 6px;
    padding: 1px 22px;
    line-height: 2rem;
    background-color: #cdcdcd80;
}

.input-bet {
    text-align-last: center;
    margin: 10px;
}

.game button,
input,
.wallet {
    margin-block-start: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 6px;
    padding: 1px 22px;
    line-height: 3rem;
}

.game button{
    background-color: #d5b791;
    color: #ffffff;
}
.message-container{
    margin-block-start: 5px;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 6px;
    line-height: 3rem;
    padding: 1px 50px;
    background-color: #ffffffde;
    color: #ff0000c4;
}

.game button:hover {
    color: #a83b3b;
    background-color: #d5b791;
}

.game-buttons,
.message-container {
    margin: 15px;
}

.bet-message {
    display: grid;
}

.player,
.dealer {
    gap: 5vh;
}

@media (max-width: 700px) {

    .game button,
    input,
    .message-container,
    .wallet,
    h2 {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .wallet {
        margin: 5px;
    }

    .player,
    .dealer {
        gap: 1.5vh;
        flex-wrap: wrap;
    }
}

@media (max-width:320px) {

    .game button,
    input,
    .message-container,
    .wallet,
    h2 {
        font-size: 1rem;
        line-height: 1rem;
    }
    .player,
    .dealer {
        gap: 1vh;
    }
}

@media (max-width: 850px) {
    .game {
        background-size: unset;
    }
}